@font-face {
  font-family: 'MartianMono';
  src: url('MartianMono-Regular.woff2');
}

/* START OF DEF CONTAINER */
.container{
    width: 75%;
    display: flex;
    flex-direction: row;
    float: left;
    justify-content: space-between;
}

.item{
    background-color: clear;
    margin: 20px;
}
/* END OF DEF CONTAINER */

.navcontainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    float: left;
    justify-content: space-around;
    background-color: clear;
}

.navitem{
    background-color: clear;
    margin: 0px;
    max-height: 50px;
}


body{
    background-image: url("background2.png");
    background-color: #000000;
    /*text-align: center;*/
}

a{
    text-decoration: none;
}

h1.formatted{
    font-family: 'MartianMono';
    color: white;
    text-align: center;

}

a.formatted{
    text-align: center;
    color: white;
    font-family: 'MartianMono';
    text-decoration: none;
}

p.formatted{
    text-align: center;
    color: white;
    font-family: 'MartianMono';
}

p.accentformatted{
    color: purple;
    font-family: 'MartianMono';
    text-align: center;
}

label.formatted{
    color: white;
    font-family: 'MartianMono';
    text-align: center;
}

input.formatted{
    color: black;
    font-family: 'MartianMono';
    text-align: center;
}

href.formatted{
    text-align: center;
    color: white;
    font-family: 'MartianMono';
}

img.rounded{
    border-radius: 32px;
    vertical-align: middle;
    transition: transform .8s;
}

img.rounded:hover{
    transform: scale(1.05); 
}

img.navicon{
    transition: transform .5s;
}

img.navicon:hover{
    transform: scale(1.1); 
}









