<link rel="stylesheet" href="static/style.css">

<h1 class="formatted">subscriber count on youtube</h1>

<form action="#" method="POST">
    <label class="formatted" for="channel_name">channel name:</label>
    <input class="formatted" type="text" placeholder="e.g. 'pewdiepie" id="channel_name" name="cn" required>
    <input class="formatted" type="submit">
</form>

<p class="formatted">{{ bob }} {{ message }} {{ subs }}</p>
<p class="formatted">{{ error }}</p>

<br>
<a class="formatted" href="/">home</a>

{% extends "base.html" %}
{% block content %}
{% endblock %}
